{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}
</h1>
<div class="Sum-XT-API">

  <div class="upload txt-AR">
    <div class=text-area>
      <form action="" method=post name="1" enctype=multipart/form-data>
        <div class="form-in">
            <div>
                <textarea id="srctext1" name=txtarea rows="16" cols="80">{{in_text}}</textarea>
            </div>
            <input type="hidden" name="form-name" value="form1">
            <div>
                <label for="percent">Percent</label>    
                <input type="number" name=percent min="10" max="70">
            </div>
            
            <input class="button" type="submit" name="txt" value=Summarize>
        </div>
      </form>
    </div>
    <div id=summary class="text-area">
      <textarea id="srctext2" name=txtarea rows="16" cols="80">{{sum_text}}</textarea>
    </div>
  </div>
  
    <h3>OR</h3>
  
  <div class="upload doc">
    <form action="" method=post name="2" enctype=multipart/form-data>
      <div class="form-in">
          <p><input type=file name=file>
          <div>
              <label for="percent">Percent</label>    
              <input type="number" name=percent min="10" max="70">
          </div>
          <input type="hidden" name="form-name" value="form2">
          <div>
              <input class="button" type=submit value=Upload>
          </div>
      </div>
    </form>
  </div>

</div>

{% endblock %}
