$primary_color: #0466c2;
$secondary_color:  #00cdac;
$ter-color: #2d545e;
$bg-color: white;
$dark-blue-text: #272341;
$white-color: #fff;
$dark-grey: #333333;
$default-font-size: 1.6rem;

// Blackish: #202020
// #0466c2;
// Dark Grey: #3F3F3F
// #00cdac;
// Medium Grey: #707070

// Egg Yellow: #FFD6C

// White: #FFFFFF

// Bright blue: #51e2f5

// Blue Green: #9df9ef

// Dusty White: #edf756

// Pink Sand: #ffa8B6

// Dark Sand: #a28089


// Pinky: #fbe3e8

// Blue Greeny: #5cbdb9

// Teeny Greeny: #ebf6f5



// Sand Tan: #e1b382

// Sand Tan Shadow: #c89666

// Night Blue: #2d545e

// Night Blue Shadow: #12343b


// Grassy Green: #9bc400

// Purple Mountains Majesty: #8076a3

// Misty Mountain Pink: #f9c5bd

// Factory Stone Purple: #7c677f