@import './variables';
@import './button';
@import './video-background';
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

// .container{
//     margin: 0 0;
//     max-width: max-content;
// }

section {
  // background-color: $bg-color;
  color: $dark-blue-text;

  .navbar-end a {
    font-size: 1.3rem;
    color: $primary_color;
    border-radius: 10px;

    @extend .sp_text;
    &:hover {
      background: linear-gradient(
        135deg,
        $primary-color 0%,
        $secondary-color 100%
      );
      color: $white-color;
      -webkit-text-fill-color: inherit;
    }
  }

  #hero {
    min-height: 100vh;
    height: 80vh;
    display: flex;
    align-items: center;
    border-bottom: 0px;
    background: $bg-color;
    font-weight: 400;
    color: $dark-blue-text;
    padding: 0rem 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    .hero-title {
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 3.2rem;
      text-align: left;
    }
  }
  #api-info {
    justify-self: center;
    border-bottom: 0px;
    background-color: $ter-color;
    background-image: linear-gradient(
      135deg,
      $primary-color 0%,
      $secondary-color 100%
    );
    font-weight: 400;
    color: $white-color;
    padding: 3rem 3.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    .heading {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 3.2rem;
      text-align: center;
    }
    .info-packs {
      justify-self: center;
      .info-pack {
        display: flex;
        margin: 2rem;

        img {
          max-width: 32rem;
          max-height: 80vh;
          border-radius: 20px;
          box-shadow: 0 19px 51px 0 rgba(33, 86, 184, 0.16),
            0 14px 19px 0 rgba(22, 81, 207, 0.07);
        }
        .about-text {
          text-align: center;
          display: flex;
          margin-left: 1rem;

          p {
            margin-top: 3rem;
            justify-self: center;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
.contact {
  margin-top: 5rem;
  padding: 1rem;
  max-height: max-content;
  color: $white-color;
  background: $ter-color;
  font-size: 2rem;

  a {
    font-size: 1.3rem;
    color: #f547d8;
  }
  p {
    margin: 1rem;
    font-size: 1.2rem;
  }
}

.footer {
  background-color: $dark-grey;
  color: $white-color;
  padding: 4.8rem 0;

  a {
    color: #f547d8;
    font-size: 1.5rem;
    transition: all 0.4s;
    display: inline-block;
    margin-left: 0.8rem;
    background-color: $dark-grey;

    &:hover,
    &:active {
      color: $primary-color;
      -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    }
  }
}

.hero-body {
  padding: 0;
}

a {
  color: rgb(247, 14, 247);
}

span {
  color: $primary_color;
}

.sp_text {
  background: linear-gradient(to right, $primary_color, $secondary_color);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.Sum-XT-API {
  background: $ter-color;
  padding: 1rem;
  color: darken(white, 10%);
  box-shadow: 5px 5px 5px #12343b;
  border-radius: 20px;

  h3 {
    font-size: 3rem;
    margin: 1rem;
  }
  textarea {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #d8f3d1;
  }

  .txt-AR {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    .text-area {
      margin: 2.5rem 4rem;
    }
  }

  .form-in {
    p {
      margin: 1rem;
    }

    div {
      margin-bottom: 1rem;
    }
  }
}
